$darkblue: #424862;
$lightgreen: #AFC5CE;
$orange: #FB9A63;
$grey: #BFC4D5;
$darkgrey: #666666;
$white: #F6FBF4;
$peach: #FFBC98;
$green: #7BA47F;
$red: #EB2A17;
$border: 4px solid $orange;
$lato: Lato, sans-serif;
$playfair: Playfair Display, serif;
$jose: Josefin Slab, serif;